[submodule "Zsign"]
	path = Zsign
	url = https://github.com/khcrysalis/Zsign-Package
	branch = package
[submodule "IDeviceKitten"]
	path = IDeviceKitten
	url = https://github.com/khcrysalis/IDeviceKit
