<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>feather_extension</string>
			<key>CFBundleTypeName</key>
			<string>iOS Package Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>thewonderofyou.Feather.ipa</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>feather_extension</string>
			<key>CFBundleTypeName</key>
			<string>AirDrop friendly iOS app</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>thewonderofyou.Feather.tipa</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Donor</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Donor</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>V0</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>V0</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>V1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>V1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>V1Mac</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>V1Mac</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>V2Mac</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>V2Mac</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Wing</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Wing</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>feather_extension</string>
			<key>CFBundleURLName</key>
			<string>thewonderofyou.Feather</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>feather</string>
			</array>
		</dict>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchScreen</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.itunes.ipa</string>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iOS Package Archive</string>
			<key>UTTypeIconFile</key>
			<string>feather_extension</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconText</key>
				<string>IPA</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>thewonderofyou.Feather.ipa</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ipa</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.itunes.ipa</string>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AirDrop friendly iOS app</string>
			<key>UTTypeIconFile</key>
			<string>feather_extension</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string></string>
				<key>UTTypeIconText</key>
				<string>TIPA</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>thewonderofyou.Feather.tipa</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tipa</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/trollstore-ipa</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
